$maincolor: #2196f3;
$section-color: #ececec;
$main-transition: 0.3s;
$startpadding-top: 60px;
$endpadding-bottom: 60px;
$x-large: "(min-width:1201px)";
$large: "(max-width:1200px)";
$meduim: "(max-width:992px)";
$mobile: "(max-width:768px)";
$minimobile: "(max-width:480px)";